<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(assets/images/bg_5.jpg);"
  data-stellar-background-ratio="0.5">

  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 py-5 px-md-5">
        <div class="py-md-5">

          <div class="heading-section heading-section-white ftco-animate mb-5">
            <h2 class="mb-4">Login as a user</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
              there live the blind texts.</p>
          </div>

          <form action="#" class="appointment-form ftco-animate" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="d-md-flex">
            <!-- Email -->
            <div class="form-group">
              <input formControlName="email" type="email" class="form-control" placeholder="Email">
            </div>
            <div
              *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
              <small class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</small>
              <small class="text-danger" *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</small>
            </div>
            <!-- Password -->
            <div class="form-group ml-md-4">
              <input formControlName="password" type="password" class="form-control" placeholder="Password">
            </div>
            <div
              *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
              <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Password is
                required</small>
            </div>
        </div>

        <!-- Login -->
        <div class="d-md-flex" style="margin-right:6%; margin-top: 10%;">
          <div class="form-group ml-md-4">
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary py-2 px-4">
              Login to your account </button>
          </div>
        </div>

        <!-- Error messages -->
        <span class="text-danger">{{ errorMsg }}</span>

        </form>

      </div>
    </div>
  </div>
  </div>
</section>

