<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(assets/images/bg_5.jpg);"
  data-stellar-background-ratio="0.5">

  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 py-5 px-md-5">
        <div class="py-md-5">

          <div class="heading-section heading-section-white ftco-animate mb-5">
            <h2 class="mb-4">Signup as <span *ngIf="role === 'student'">student</span><span
                *ngIf="role === 'teacher'">teacher</span><span *ngIf="role === 'parent'">parent</span><span
                *ngIf="role === 'admin'">admin</span></h2>
          </div>

          <form action="#" class="appointment-form ftco-animate" [formGroup]="signupForm" (ngSubmit)="signup()">

            <!-- First Name + Last name Div -->
            <div class="d-md-flex">
              <div class="form-group">
                <input type="text" formControlName="firstName" type="text" class="form-control"
                  placeholder="First Name">
                <small class="text-danger"
                  *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched">
                  First name is required (min 3 chars).
                </small>
              </div>
              <div class="form-group ml-md-4">
                <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
              </div>
              <small class="text-danger"
                *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched">
                Last name is required (min 2 chars).
              </small>
            </div>

            <!-- Email + Phone Div -->
            <div class="d-md-flex">
              <div class="form-group">
                <input type="text" formControlName="email" class="form-control" placeholder="Email">
                <small class="text-danger">{{ emailErrorMsg }}</small>
                <small class="text-danger" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                  Valid email is required.
                </small>
              </div>
              <div class="form-group ml-md-4">
                <input formControlName="tel" type="tel" class="form-control" placeholder="Phone (8+ digits)">
                <small class="text-danger">{{ telErrorMsg }}</small>
                <small class="text-danger" *ngIf="signupForm.get('tel')?.invalid && signupForm.get('tel')?.touched">
                  Phone number is required.
                </small>
              </div>
            </div>

            <!-- Address + Password Div -->
            <div class="d-md-flex">
              <div class="form-group">
                <input formControlName="address" type="text" class="form-control" placeholder="Address">
                <small class="text-danger"
                  *ngIf="signupForm.get('address')?.invalid && signupForm.get('address')?.touched">
                  Address is required.
                </small>
              </div>
              <div class="form-group ml-md-4">
                <input formControlName="password" type="password" class="form-control" placeholder="Password"
                  placeholder="Password">
                <small class="text-danger"
                  *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                  Password must be 6-12 chars, include upper, lower, number, special char.
                </small>
              </div>
            </div>

            <!-- Confirm Password + "teacherSpecialty or .....Attach File Div -->
            <div class="d-md-flex">
              <!-- 1er champ -->
              <div class="form-group">
                <input formControlName="confirmPassword" type="password" class="form-control"
                  placeholder="Confirm Password">
                <small class="text-danger"
                  *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched">
                  Passwords do not match.
                </small>
              </div>
              <!-- Champ Admin (pour la forme) -->
              <div *ngIf="role === 'admin'" class="form-group ml-md-4">
              </div>
              <!-- Champ Teacher -->
              <div *ngIf="role === 'teacher'" class="form-group ml-md-4">
                <input formControlName="teacherSpecialty" type="text" class="form-control"
                  placeholder="Teacher Specialty">
              </div>
              <!-- Champ Student upload photo -->
              <div *ngIf="role === 'student'" class="form-group ml-md-4">
                <label class="form-label d-block" style="color: white;">Choose your photo</label>
                <!-- Champ fichier caché -->
                <input type="file" id="studentPhoto" (change)="onFileSelected($event, 'studentPhoto')" class="d-none" />
                <!-- Label stylisé en bouton -->
                <label for="studentPhoto" class="btn btn-outline-primary btn-sm px-4">
                  📸 Upload photo
                </label>
                <!-- Affiche le nom du fichier choisi -->
                <span class="ms-2 text-muted small" *ngIf="selectedFileNames['studentPhoto']">
                  {{ selectedFileNames['studentPhoto'] }}
                </span>
              </div>
              <!-- <div *ngIf="role === 'student'" class="form-group ml-md-4">
                <input type="file" (change)="onFileSelected($event, 'studentPhoto')" class="form-control" />
              </div> -->

              <!-- Champ Parent -->
              <div *ngIf="role === 'parent'" class="form-group ml-md-4">
                <input formControlName="childTel" type="text" class="form-control" placeholder="Child Phone" />
                <small class="text-danger"
                  *ngIf="signupForm.get('childTel')?.invalid && signupForm.get('childTel')?.touched">
                  Child phone is required.
                </small>
              </div>
            </div>

            <!-- Upload teacher CV + Signup button Div -->
            <div class="d-md-flex">
              <!-- Champ Teacher upload CV -->
              <div *ngIf="role === 'teacher'" class="form-group" style="margin-right: 60px;">
                <label class="form-label d-block" style="color: white;">Choose your PDF CV</label>
                <!-- Input caché -->
                <input type="file" id="teacherCV" accept=".pdf" (change)="onFileSelected($event, 'teacherCV')"
                  class="d-none" />
                <!-- Bouton stylé -->
                <label for="teacherCV" class="btn btn-outline-primary btn-sm px-4">
                  📄Upload CV
                </label>
                <!-- Nom du fichier sélectionné -->
                <span class="ms-2 text-muted small" *ngIf="selectedFileNames['teacherCV']">
                  {{ selectedFileNames['teacherCV'] }}
                </span>
              </div>
              <!-- Champ Teacher PHOTO upload -->
              <!-- Champ Teacher upload photo -->
              <div *ngIf="role === 'teacher'" class="form-group ml-md-4">
                <label class="form-label d-block" style="color: white;">Choose profile photo</label>
                <!-- Input caché -->
                <input type="file" id="teacherPhoto" accept="image/*" (change)="onFileSelected($event, 'teacherPhoto')"
                  class="d-none" />
                <!-- Bouton stylé -->
                <label for="teacherPhoto" class="btn btn-outline-primary btn-sm px-4">
                  📸 Upload photo
                </label>
                <!-- Nom du fichier sélectionné -->
                <span class="ms-2 text-muted small" *ngIf="selectedFileNames['teacherPhoto']">
                  {{ selectedFileNames['teacherPhoto'] }}
                </span>
              </div>
            </div>

            <!-- Champ signup button -->
            <div class="d-md-flex">
              <div class="form-group">
                <button [disabled]="signupForm.invalid" type="submit" class="btn btn-primary btn-block">
                  Signup for your account</button>
              </div>
            </div>

            <!-- Error Message -->
            <span class="text-danger">{{ errorMsg }}</span>

          </form>

        </div>
      </div>
    </div>
  </div>
</section>