<!-- Slider carousel -->
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(assets/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start"
                data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate">
                    <h1 class="mb-4">Education Needs Complete Solution</h1>
                    <p>At Bird University we are glide to offer best tailored educational solutions to teh widest
                        student population on west coast.</p>
                    <p><a href="#" class="btn btn-primary px-4 py-3 mt-3" routerLink="/contact"
                            routerLinkActive="active">Contact Us</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url(assets/images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start"
                data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate">
                    <h1 class="mb-4">University, College School Education</h1>
                    <p>A renowned and awarded education located in the heart of San Francisco, California ; perfectly
                        suited for students seeking high level studies cobined with top living experience.</p>
                    <p><a href="" class="btn btn-primary px-4 py-3 mt-3" routerLink="/contact"
                            routerLinkActive="active">Contact Us</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Multi info banner under carousel -->
<section class="ftco-services ftco-no-pb">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-teacher"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Certified Teachers</h3>
                        <p>Our professional & certified teachers offer top edged knowledge, best course content in the
                            most suited web format.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-reading"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Special Education</h3>
                        <p>Our special eductaion metts the goals and needs of categories of students seeking specific
                            and tailored programs ans solutions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-books"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Book &amp; Library</h3>
                        <p>Our old library offer quiet rooms and restful resources for all students looking for suited
                            spaces to work in.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-diploma"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Sport Clubs</h3>
                        <p>We are waiting for your energy to enroll in our top rated sports clubs and don't forget to
                            get your Bird hat at the registrar. Let's fly and win together !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- What we offer bloc -->
<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
                <div class="img" style="background-image: url(assets/images/about.jpg); "></div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 class="mb-4">What We Offer</h2>
                <p>We offer all what Gen-Z and Alpha students aim for, from dortoirs, to sport facilities, modern
                    classes, quiet libraries, green areas, snacking and resting locations.</p>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-security"></span></div>
                            <div class="text pl-3">
                                <h3>Safety First</h3>
                                <p>Safety is our mantra at Bird University. We implemented the most rated standards and
                                    applied best practices to alleviate security risks for our students.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-reading"></span></div>
                            <div class="text pl-3">
                                <h3>Regular Classes</h3>
                                <p>We offer regualr classes for regular students seeking for paceful education and
                                    cursus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-diploma"></span></div>
                            <div class="text pl-3">
                                <h3>Certified Teachers</h3>
                                <p>Our professional & certified teachers offer top edged knowledge, best course content
                                    in the most suited web format.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-education"></span></div>
                            <div class="text pl-3">
                                <h3>Sufficient Classrooms</h3>
                                <p>Our classrooms are well architectured with capacities that exceeds Bird
                                    University demand.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-jigsaw"></span></div>
                            <div class="text pl-3">
                                <h3>Creative Lessons</h3>
                                <p>We have been creative oriented since our inception at bird university. Our lessons
                                    offer deep insight at large scale for all our students.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-kids"></span></div>
                            <div class="text pl-3">
                                <h3>Sports Facilities</h3>
                                <p>We are waiting for your energy to enroll in our top rated sports clubs and don't
                                    forget to get your Bird hat at the registrar. Let's fly and win together !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bird University info + vidéo bloc -->
<section class="ftco-section ftco-counter img" id="section-counter"
    style="background-image: url(assets/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <div class="col-md-6 align-items-stretch d-flex">
                <div class="img img-video d-flex align-items-center"
                    style="background-image: url(assets/images/about-2.jpg);">
                    <div class="video justify-content-center">
                        <a href="https://vimeo.com/45830194"
                            class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                            <span class="ion-ios-play"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
                <h2 class="mb-4">Bird University</h2>
                <p>A West Coast typical University thrilled to accomodate its nation wide and international students
                    with a specific and suited educational process dispensed by best teachers aiming to boost students
                    and satisfy parents.</p>
            </div>
            <div class="row d-md-flex align-items-center justify-content-center">
                <div class="col-lg-12">
                    <div class="row d-md-flex align-items-center">
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="icon"><span class="flaticon-doctor"></span></div>
                                <div class="text">
                                    <strong class="number" >{{ stats.teachers | countUp:1200 | async }}</strong>
                                    <span>Teachers</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="icon"><span class="flaticon-doctor"></span></div>
                                <div class="text">
                                    <strong class="number" >{{ stats.students | countUp:1200 | async}}</strong>
                                    <span>Students</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="icon"><span class="flaticon-doctor"></span></div>
                                <div class="text">
                                    <strong class="number" >{{ stats.courses | countUp:1200 | async}}</strong>
                                    <span>Courses</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="icon"><span class="flaticon-doctor"></span></div>
                                <div class="text">
                                    <strong class="number" >{{ stats.classes | countUp:1200 | async}}</strong>
                                    <span>Classes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Courses bloc -->
<section class="ftco-section">
    <div class="container-fluid px-4">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Our</span> Courses</h2>
                <p>Discover our programs and choose the one that fits your ambition.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ftco-animate">
                <app-courses></app-courses>
            </div>
        </div>
    </div>
</section>

<!-- Teachers bloc -->
<section class="ftco-section bg-light">
  <div class="container-fluid px-4">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4">Certified Teachers</h2>
        <p>
          Our professional & certified teachers offer top edged knowledge, best
          course content in the most suited web format.
        </p>
      </div>
    </div>

    <!-- ✅ Zone d'affichage des enseignants -->
    <div class="row">
      <div class="col-12 ftco-animate">
        <app-teachers></app-teachers>
      </div>
    </div>
  </div>
</section>

<!-- Request a Quote bloc -->
<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(assets/images/bg_5.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 py-5 px-md-5">
                <div class="py-md-5">
                    <div class="heading-section heading-section-white ftco-animate mb-5">
                        <h2 class="mb-4">Request A Quote</h2>
                        <p>Don't hesitate to ask for a quote, we will be glad to discuss it with you and your parents.
                            We are also flexible to tailor any quote to suit your needs.</p>
                    </div>
                    <form action="#" class="appointment-form ftco-animate">
                        <div class="d-md-flex">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group">
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="" id="" class="form-control">
                                            <option value="">Select Your Course</option>
                                            <option value="">Art Lesson</option>
                                            <option value="">Language Lesson</option>
                                            <option value="">Music Lesson</option>
                                            <option value="">Sports</option>
                                            <option value="">Other Services</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="text" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="2" class="form-control"
                                    placeholder="Message"></textarea>
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="submit" value="Request A Quote" class="btn btn-primary py-3 px-4">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Blog bloc  -->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Recent</span> Blog</h2>
                <p>people are always talking about Bird University experience, here are the recents feedbacks from both
                    students, parents and teachers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                        style="background-image: url('assets/images/image_1.jpg');">
                        <div class="meta-date text-center p-2">
                            <span class="day">26</span>
                            <span class="mos">June</span>
                            <span class="yr">2019</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4">
                        <h3 class="heading"><a href="#">Skills To Develop Your Child Memory</a></h3>
                        <p>We are workaholic when it comes to skills at Bird university. Because job market is seeking
                            the most skilled workers, we created a full dedicated method aimed to boost student skills
                            and outperform the job market.</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                            <p class="ml-auto mb-0">
                                <a href="#" class="mr-2">Admin</a>
                                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                        style="background-image: url('assets/images/image_2.jpg');">
                        <div class="meta-date text-center p-2">
                            <span class="day">26</span>
                            <span class="mos">June</span>
                            <span class="yr">2019</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4">
                        <h3 class="heading"><a href="#">Skills To Develop Your Child Memory</a></h3>
                        <p>We are workaholic when it comes to skills at Bird university. Because job market is seeking
                            the most skilled workers, we created a full dedicated method aimed to boost student skills
                            and outperform the job market.</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                            <p class="ml-auto mb-0">
                                <a href="#" class="mr-2">Admin</a>
                                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                        style="background-image: url('assets/images/image_3.jpg');">
                        <div class="meta-date text-center p-2">
                            <span class="day">26</span>
                            <span class="mos">June</span>
                            <span class="yr">2019</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4">
                        <h3 class="heading"><a href="#">Skills To Develop Your Child Memory</a></h3>
                        <p>We are workaholic when it comes to skills at Bird university. Because job market is seeking
                            the most skilled workers, we created a full dedicated method aimed to boost student skills
                            and outperform the job market.</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                            <p class="ml-auto mb-0">
                                <a href="#" class="mr-2">Admin</a>
                                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Student Testimonials -->
<section class="ftco-section testimony-section">

    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Student Says About Us</h2>
                <p>Students are keen on Bird University when it comes to testimonials and we love reporting their kind
                    words toward our educational staff adn university.</p>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(assets/images/teacher-1.jpg)">
                            </div>
                            <div class="text ml-2">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Best University in West coast ! Thank u Bird.</p>
                                <p class="name">Racky Henderson</p>
                                <span class="position">Father</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(assets/images/teacher-2.jpg)">
                            </div>
                            <div class="text ml-2">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>My son get reinvented himsemlf at Bird, we will be always grateful.</p>
                                <p class="name">Henry Dee</p>
                                <span class="position">Mother</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(assets/images/teacher-3.jpg)">
                            </div>
                            <div class="text ml-2">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>My daughter found her way in life after bachelor completion at Bird, we recommend
                                    this school for everyone</p>
                                <p class="name">Mark Huff</p>
                                <span class="position">Mother</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(assets/images/teacher-4.jpg)">
                            </div>
                            <div class="text ml-2">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>Social and political science is a must at Bird.</p>
                                <p class="name">Rodel Golez</p>
                                <span class="position">Mother</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(assets/images/teacher-1.jpg)">
                            </div>
                            <div class="text ml-2">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                <p>My both childrend went to Bird, they are today well wrapped in professional and
                                    social life.</p>
                                <p class="name">Ken Bosh</p>
                                <span class="position">Mother</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Photo gallery -->
<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a href="assets/images/image_1.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(assets/images/course-1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="assets/images/image_2.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(assets/images/image_2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="assets/images/image_3.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(assets/images/image_3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="assets/images/image_4.jpg" class="gallery image-popup img d-flex align-items-center"
                    style="background-image: url(assets/images/image_4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>